<div class="container theme-showcase" role="main" ng-controller="librarianController">

	<div class="jumbotron" style="background-color: #337ab7 !important;">
		<h1 align="center">Welcome Librarian</h1>
	</div>
	<div class="row">

		<div class="page-header">
			<div class="col-md-6" align="left">
				<h1 style="font-size: 24px !important;">Please select your
					action:</h1>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Menu Block to the left side -->

		<div class="col-sm-2" align="center" style="float: left">

			<!-- Collapsed Menu -->
			<div class="panel-group" id="accordion">
				<div class="panel panel-default panel-info">
					<div class="panel-heading">
						<h4 class="panel-title myCollapseItem myCollapseItem">
							<a data-toggle="collapse" data-parent="#accordion"
								href="">Librarian</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="list-group">
							<a class="panel-collapse collapse">Librarian</a> 
							<a href="" ng-click="editClicked()" class="list-group-item" >Edit Branch</a> 
							<a href="" ng-click="addCopiesClicked()" class="list-group-item">Add Copies</a> 
                            <a href="" ng-click="viewClicked()" class="list-group-item">View</a> 
						</div>
					</div>
				</div>
			</div>
			


		</div>

		<!-- End Menu Block to the left side -->


		<!-- 	BooK Table on the right -->
		<div class="col-lg-10" align="center" style="float: right;">

				<h3 ng-if="!branches">No branches stored!</h3>
			<table class="table table-striped" style="text-align: center;" ng-if="branches">
				<tr style="text-align: center;">
					<th style="text-align: center;">Branch Name</th>
					<th style="text-align: center;">Branch Address</th>
					<th style="text-align: center;">Copies</th>
                    <th style="text-align: center;" ng-if="showAddCopiesButton">Add</th>
                    <th style="text-align: center;" ng-if="showEditButton">Edit Branch</th>
                </tr>
                <tr ng-repeat="b in branches">
                    <td>{{b.branchName}}</td>
                    <td>{{b.branchAddr}}</td>
                    
                    <td>
                        <div class="col-sm-1">
							<div class="dropdown" style="width: 200px;">
								<button class="btn btn-info dropdown-toggle" type="button"
									data-toggle="dropdown">
									Book Copies <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-if="b.copies.length==0"><a>No copies stored</a></li>
                                    <li ng-if="b.copies.length!=0" ng-repeat="bc in b.copies">{{bc.book.title}}: {{bc.noOfCopies}}</li>
								</ul>
							</div>
						</div>
                    </td>
                    
                    <td ng-if="showAddCopiesButton"><button class="btn btn-sm btn-warning" ng-Click="addCopiesButtonClicked(b)">Add Copies</button></td>

					<td ng-if="showEditButton"><button class="btn btn-sm btn-warning" ng-Click="editButtonClicked(b)">Edit</button></td>
				</tr>
			</table>
		</div>
		<!-- 	End BooK Table on the right -->
	</div>
    
    <script type="text/ng-template" id="editBranchModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit branch</h3>
        </div>
        <div class="modal-body">
            <form name="myForm">
                <h3>Enter details to update branch: </h3>
                Enter branch name: <input type="text" data-ng-model="branchToUpdate.branchName" style="margin-right: 40px" value="branchToUpdate.branchName">
                
                Enter branch Address: <input type="text" data-ng-model="branchToUpdate.branchAddr" style="margin-right: 40px" value="branchToUpdate.branchAddr">
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="addCopiesModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add book copies to branch</h3>
        </div>
        <div class="modal-body">
            <form name="myForm">
                <h3>Enter details to add copies: </h3><br />
                
                 Select a book: <select data-ng-model="book" data-ng-options="b.title for b in books "></select>
                
                <br />
                
                Enter number of copies: <input type="text" data-ng-model="noOfCopies" style="margin-right: 40px" >
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div>
